@{
    ViewData["Title"] = "Home Page";
}

<h1 class="whiteHeading">Hyr utrustning för din vintersemester hos RentApp!</h1>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <a class="btn btn-primary toBottom" asp-area="" asp-controller="RentItems" asp-action="Index">Kolla vad som finns tillgängligt!</a>
        </div>
    </div>
</div>

@section head{
    <style type="text/css">
        body {
            background-image: url('Image/indexBg.jpg');
            margin: 0;
            background-repeat: no-repeat;
            background-size: cover;
        }
        footer{
            background-color:#EEEEEE;
        }
    </style>
}