@model RentApp.Models.ImageModal

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Är du säker på att du vill radera bilden?</h3>
<div>
    <h4>Bild</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Titel
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            Bildnamn
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ImageId" />
        <input type="submit" value="Radera" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-outline-dark">Tillbaka <i class="fas fa-backward"></i></a>
    </form>
</div>
